* {
    margin: 0;
}

header {
    height: 150px;
    background-image: url('../img/pattern.png');
    background-color: lightblue;
}

.titolo {
    
}

#tuma {
    padding-top: 40px;
    color: white;
    width: 170px;
    text-align: center;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

.sottotitolo {
    color: grey;
    font-style: italic;
}

.tim {
    margin-top: 20px;
}

.desc-foto {
    font-size: small;
}

section {
    margin-top: 20px;
}

.evidenziatore {
    background-color: yellow;
}

tbody {
    text-align: left;
}

th {
    background-color: rgb(31, 170, 229);
    color: white;
}

td {
    padding-right: 50px;
}

.celestino {
    background-color: #b1e5f2;
}

.blancus {
    background-color: white;
}