* {
    margin: 0;
}

header {
    height: 150px;
    background-image: url('../img/pattern.png');
    background-color: lightblue;
}

.titolo {
    
}

#tuma {
    padding-top: 40px;
    color: white;
    width: 170px;
    text-align: center;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

.sottotitolo {
    color: grey;
    font-style: italic;
}

.tim {
    margin-top: 20px;
}

.desc-foto {
    font-size: small;
}

section {
    margin-top: 20px;
}

.evidenziatore {
    background-color: yellow;
}

tbody {
    text-align: left;
}

th {
    background-color: rgb(31, 170, 229);
    color: white;
}

td {
    padding-right: 50px;
}

.celestino {
    background-color: #b1e5f2;
}

.blancus {
    background-color: white;
}

h4 {
    color: grey;
}

.fine {
    width: 312px;
    height: 208px;
    padding-top: 20px;
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bolder;

}

.fine2 {
    width: 311px;
    height: 207px;
    padding-top: 20px;
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bolder;

}