* {
    margin: 0;
}

header {
    height: 200px;
    background-image: url('img/pattern.png');
}

h1 {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.sottotitolo {
    text-decoration: grey;
    font-style: italic;
}

.tim {
    margin-top: 20px;
}

.desc-foto {
    font-size: small;
}